<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
    </head>
    <body>
        <!-- <h1>Built-In User Registeration / Authentication App</h1> -->

        {% block content %} {% endblock content %}

        {% block javascript %} {% endblock javascript %}
    </body>
</html>
