{% load static %}

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BikeTo</title>
        
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/boostrapcss/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexbox/flexboxgrid.css' %}">        
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/logbike.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark header">
        <a class="navbar-brand" href="{% url 'index' %}" title="Ir a la página de inicio" >
        <img src="{% static 'img/logoBikeTo.jpeg' %}" alt="logo" height="90"> 
        </a>
        
          <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
              </li>
              <li class="class">
                  <a class="nav-link" href="{% url 'signup' %}">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'mapa' %}">Mapa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Cerrar sesión</a>
              </li>
           
          </ul>
        
      </nav>


    
</body>
</html>