{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %} 
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="/password-reset/">Recuperar contraseña</a>
<hr />

<a href="/signup/">Registrar usuario</a>
<br><br>
<a href="{% url 'index' %}">Inicio</a>
{% endblock content %}
