{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block content %} 
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <br><br>
        <a href="{% url 'index' %}">Inicio</a>
    </form>
{% endblock content %}
