body {
margin: 0;
padding: 0;
background: url(../img/bici2.jpg) no-repeat center top;
background-size: cover;
font-family: sans-serif;
height: 100vh;


}

.login-box {
width: 320px;
height: 420px;
background: #000;
color:#fff;
top:50%;
left: 50%;
position: absolute ;
transform: translate(-50%, -50%)

}

.login-box .avatar{
width: 100px;
height: 100px;
border-radius:180px;
position: absolute;
top: -50px;
left: calc(50% - 50px);


}


.login-box h1{
margin :0;
padding: 0;
font-weight: bold;
display: block;



}
.login-bpx h1{
  margin: 0; 
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px; 
}

.login-box label{
    margin-top: 15%;
    margin-left: 5%;
    padding: 20;
    font-weight: bold;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;

} 
.login-box input[type="text"],
.login-box input[type="Contraseña"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 60px;
    color:#fff;
    font-size: 16px;


}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;

}
.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    
}



