#map {
    height: 100%;
  }
 
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #floating-panel {
    position: absolute;
    top: 100px;
    left: 1%;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }

  .main{
    background-color: darkred;
}

.header{
    background-color: darkred;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.centrar{
    text-align: center;
}
.texto-blanco{
    color:#ffffff;
}
a{
    text-decoration: none;
}
#logo{
    padding: 10px;
}

#bici{
    margin-top: 20px;
    margin-bottom: 10px;
}
ul{
    list-style: none;
}
ul li a{
    float: left;
    margin-left: 10px;
}

.texto-derecha{
    text-align: right;
}

footer{
    background-color: lightgray;
    padding: 25px;
}
.altura{
    height: 300 px;
    object-fit: cover;
    
    background-color: maroon;
}