<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Reset Password</h2>
    <p>We have sended you reset password link on your email. Please Check Your Email.</p>
    <br>
    <a href="{% url 'index' %}">Inicio</a>
</body>
</html>
